.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.skills__title {
    font-size: 3em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #fff;
}

.skills-container {
    display: flex;
}

.tech {
    display: flex;
}

.tech li {
    margin: 05px;
}

.tech img {
    width: 50px;  
}

.front-end {
    background: #15FFB8;
    padding: 1.2rem;
    margin: 05px;
    border-radius: .8rem;
}

footer {
    border-top: 1px solid #fff;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 30px;
}